menu "RC Cars Configuration"

    orsource "$IDF_PATH/examples/common_components/env_caps/$IDF_TARGET/Kconfig.env_caps"

    config GPIO_OUTPUT_2_LEFT
        int "GPIO output pin 2"
        range ENV_GPIO_RANGE_MIN ENV_GPIO_OUT_RANGE_MAX
        default 2
        help
            GPIO pin number to be used as GPIO_OUTPUT_IO_2.

    config GPIO_OUTPUT_13_RIGHT
        int "GPIO output pin 13"
        range ENV_GPIO_RANGE_MIN ENV_GPIO_OUT_RANGE_MAX
        default 13
        help
            GPIO pin number to be used as GPIO_OUTPUT_IO_13.

    config GPIO_OUTPUT_15_UP
        int "GPIO output pin 15"
        range ENV_GPIO_RANGE_MIN ENV_GPIO_OUT_RANGE_MAX
        default 15
        help
            GPIO pin number to be used as GPIO_OUTPUT_IO_15.

    config GPIO_OUTPUT_14_DOWN
        int "GPIO output pin 14"
        range ENV_GPIO_RANGE_MIN ENV_GPIO_OUT_RANGE_MAX
        default 14
        help
            GPIO pin number to be used as GPIO_OUTPUT_IO_14.

endmenu
